/* ====================================
	Design: 
	CSS: 
	Built: 
	Last Edit: 
	URI: 
	v1.1 | 05-10-2013
=======================================*/

/* @group Reset */

/* ====================================
	http://meyerweb.com/eric/tools/css/reset/
	v2.0 | 20110126
	License: none (public domain)
=======================================*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {display: block;}
body {line-height: 1;}
ol, ul {list-style: none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after,
q:before, q:after {content: ''; content: none;}
table {border-collapse: collapse; border-spacing: 0;}
/* @end */

/* @group Layout */
.menu{
	visibility: collapse;
	display: block;
	height: 0;
}
#container {
	width: 960px;
	margin: auto;
}
header {}
header a {}
header a h1 {}
#wrapper {}
nav {}
nav ul {}
nav li {}
nav li a {}
nav li a:hover {}
nav i{
	visibility: hidden;
	width: 0!important;
	height: 0!important;
	margin: 0!important;
	padding: 0!important;
}
#contact {}
#content {}
#content img {
	background-color: #ffffff;
	padding: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 4px rgb(215, 215, 215);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 4px rgb(215, 215, 215);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 4px rgb(215, 215, 215);
	border-left: 1px solid #aaaaaa;
	border-bottom: 1px solid #a8a8a8;
	border-right: 1px solid #aaaaaa;
	border-top: 1px solid #d7d7d7;
}
#content img.no-border {
	border: 0 none;
	padding: 0;
	background: none;
}
#content ul{padding-left: 29px; list-style: disc;}
#content li{margin-bottom: 4px;}
#content ol{padding-left: 29px; list-style: decimal;}
#content table{
	border-top: 1px solid #cccccc;
	border-right: 1px solid #cccccc;
	margin-bottom: 10px;
	border-collapse: separate;
	-moz-border-radius: 4px 4px 0px 0px;
	-webkit-border-radius: 4px 4px 0px 0px;
	border-radius: 4px 4px 0px 0px;
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 4px rgb(215, 215, 215);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 4px rgb(215, 215, 215);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 4px rgb(215, 215, 215);

}
#content td, #content th{
	padding: 6px;
	border-bottom: 1px solid #cccccc;
	border-left: 1px solid #cccccc;
}
#content th{
	font-weight: bold;
	background-color: #eeeeee;
	text-shadow: 0 1px 0 #ffffff;
	-moz-border-radius: 4px 4px 0px 0px;
	-webkit-border-radius: 4px 4px 0px 0px;
	border-radius: 4px 4px 0px 0px;
	background-image: -webkit-linear-gradient(top, #fbfbfb,#ededed);
	background-image: -moz-linear-gradient(top, #fbfbfb,#ededed);
	background-image: -o-linear-gradient(top, #fbfbfb,#ededed);
	background-image: linear-gradient(to bottom, #fbfbfb,#ededed);
	-webkit-box-shadow: inset 0 1px #fff,inset 0 0 0 1px rgba(255,255,255,0.2);
	box-shadow: inset 0 1px #fff,inset 0 0 0 1px rgba(255,255,255,0.2);
	color: #fbfbfb;
	color: #606060;
}
.twoCol {
	background-color: #fedfdf;
	margin: 0 8px 8px;
	width: 454px;
	display: block;
	float: left;
}
.threeCol {
	background-color: #fef9bd;
	margin: 0 8px 8px;
	display: block;
	float: left;
	width: 297px;
}
.animalBox{display: block;
	float: left;
	width: 312px;
	margin-right: 4px;
	margin-bottom: 8px;
	margin-left: 4px;
}
.animalBox a {text-align: center; display: block;}
footer {}
#api {font: 10px "Lucida Grande", Lucida, Verdana, sans-serif;}
#api a {}
#api a:hover {}

/* @end */

/* @group Typography */

body{font-size: 100%;}
strong{font-weight: bold;}
em{font-style: italic;}
p {margin-bottom: 10px;}

h1, h2, h3, h4, h5, h6 {margin-bottom: 10px;}

h1 {font-size: 2em;}
h2 {font-size: 1.8em;}
h3 {font-size: 1.6em;}
h4 {font-size: 1.4em;}
h5 {font-size: 1.2em;}
h6 {font-size: 1em;}

/* LVHA */
a, a:link {}
a:visited {}
a:hover {}
a:active {}

figure{
	position: relative;
	text-align: center;
	background-color: #f9f9f9;
	padding: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 4px rgb(215, 215, 215);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 4px rgb(215, 215, 215);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 4px rgb(215, 215, 215);
	border-left: 1px solid #aaaaaa;
	border-bottom: 1px solid #a8a8a8;
	border-right: 1px solid #aaaaaa;
	border-top: 1px solid #d7d7d7;
}
figure img{
	padding: 0!important;
	background: none!important;
	-webkit-border-radius: 0px!important;
	-moz-border-radius: 0px!important;
	border-radius: 0px!important;
	box-shadow: none!important;
	border: 1px solid #8f8f8f!important;
}
figcaption{
	font-size: .9em;
	font-style: italic;
	width: 100%;
	text-shadow: 0 1px 0 #ffffff;
}
blockquote {
	padding: 8px;
	border-top: 1px solid #cccccc;
	border-bottom: 1px solid #cccccc;
	margin: 5px;
	text-indent: 23px;
	display: block;
	text-shadow: 0 1px 0 #ffffff;
	font-style: italic;
	font-size: 1em;
	line-height: 1.3em;
	background-color: #f4f4f4;
	-moz-box-shadow: inset 0 0 8px #e1e1e1;
	-webkit-box-shadow: inset 0 0 8px #e1e1e1;
	box-shadow: inset 0 0 8px #e1e1e1;
}
blockquote .cite{
	display: block;
	font-weight: bold;
	font-style: italic;
	text-align: right;
}
blockquote .cite:before, blockquote .cite:after{content: " ~ ";}
/* @end */

/* @group Pretty Forms */

form {
	margin: 0 0 1em;
	padding: 0;
}
form ul{
	margin-left: 10px;
	margin-bottom: 10px;
	padding-left: 10px!important;

}
form ul li{
	margin-bottom: 10px;
	list-style-type: none;
}
form ul li input{
	padding: 0;
	width: auto;
	margin: 0 8px 8px 0;
}
label {color: #333;}
input, textarea {
	color: #333;
	background: #ffffff;
	border: 1px solid #d8d8d8;
	margin: 0;
	padding: 8px;
	font-size: 1em;
	-moz-box-shadow: inset 0 0 4px #dadada;
	-webkit-box-shadow: inset 0 0 4px #dadada;
	box-shadow: inset 0 0 4px #dadada;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}
input:focus, textarea:focus{ 
  outline: none;
  -moz-box-shadow: 0px 0px 8px #51cbee;
  -webkit-box-shadow: 0px 0px 8px #51cbee;
  box-shadow: 0px 0px 8px #51cbee;  z-index: 3;
}

/* fancy checkboxes and radio buttons */
.option {
	display: inline-block;
	vertical-align: top;
	position: relative;
	width: 16px;
	height: 16px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none
}
.option>input {
	position: absolute;
	left: 0;
	width: inherit;
	height: inherit;
	opacity: 0
}
.checkbox,.radio {
	display: block;
	height: 100%;
	border: 1px solid #d7d7d7;
	border-top-color: #bbb;
	border-radius: 2px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-box-shadow: box-shadow: inset 0 0 4px #dadada;;
	box-shadow: inset 0 0 4px #dadada;
	background-color: #ffffff;
}
.checkbox:before,.radio:before {
	content: '';
	display: none
}
input:focus+.checkbox,input:focus+.radio,input.focus+.checkbox,input.focus+.radio {
	border-color: #51b5fb;
	-webkit-box-shadow: inset 0 0 2px rgba(81,181,251,0.8),0 0 3px rgba(81,181,251,0.8);
	box-shadow: inset 0 0 2px rgba(81,181,251,0.8),0 0 3px rgba(81,181,251,0.8)
}
input:checked+.checkbox,input:checked+.radio {background: #ffffff}
input:checked+.checkbox:before,input:checked+.radio:before {display: block}
.checkbox:before {
	position: absolute;
	top: 4px;
	left: 3px;
	width: 7px;
	height: 3px;
	border: solid #9b9795;
	border-width: 0 0 3px 3px;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg)
}
.radio {border-radius: 8px}
.radio:before {
	margin: 4px;
	width: 6px;
	height: 6px;
	background: #9b9795;
	border-radius: 3px
}
/* end fancy checkboxes and radio buttons */

.realname, .ranch, .address, .email, .city, .comments  {width: 422px;}
.zip {width: 200px;}
.phone {width: 200px;}
.comments {height: 133px;}
/* state dropdown menu */
.state {
width: 210px;
height: 35px;
}

.select {
	display: inline-block;
	vertical-align: top;
	position: relative;
	overflow: hidden;
	background: #f4f4f4;
	border: 1px solid #ccc;
	border-bottom-color: #c4c4c4;
	border-radius: 6px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background-image: -webkit-linear-gradient(top, #fcfcfc,#eee);
	background-image: -moz-linear-gradient(top, #fcfcfc,#eee);
	background-image: -o-linear-gradient(top, #fcfcfc,#eee);
	background-image: linear-gradient(to bottom, #fcfcfc,#eee);
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 4px rgb(86, 86, 86);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 4px rgb(86, 86, 86);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 4px rgb(86, 86, 86);
	text-decoration: none;
	color: #333333!important;
	}

.select>select {
	display: block;
	position: relative;
	width: 112%;
	height: 34px;
	margin: 0;
	padding: 6px 8px 8px;
	text-shadow: 0 1px white;
	background: transparent;
	background: rgba(0,0,0,0);
	border: 0;
	-webkit-appearance: none;
	font-size: 100%;
}

.select>select:focus {
	z-index: 2;
	width: 100%;
	outline: 1px solid #51cbee;
	outline-offset: -1px;
	outline-width:5px;
}

.select>select::-ms-expand {
	display: none
}

.select option {
	text-shadow: none
}

.select:before,.select:after {
	content: '';
	position: absolute;
	z-index: 1;
	top: 11px;
	right: 10px;
	width: 0;
	height: 0;
	border: 3px dashed;
	border-color: #aaa transparent;
	border-color: rgba(0,0,0,0.4) transparent;
	pointer-events: none
}

.select:before {
	border-bottom-style: solid;
	border-top: none
}

.select:after {
	margin-top: 6px;
	border-top-style: solid;
	border-bottom: none
}
/* End state dropdown menu */
fieldset {
	border: 1px solid #333;
	padding: 10px;
	display: block;
	position: relative;
}
fieldset .twoCol{
	display: block;
	float: left;
	width: 443px;
	padding: 8px;
	margin: 0;
}
legend {
	background: #333;
	padding: 2px 6px;
	color: #fff;
}

/* @end */

/* @group Widgets */

a[href$=".pdf"] {
	background: url(../images/design/pdf.gif) no-repeat left 50%;
	padding: 2px 0 2px 20px;
}
a[href$=".doc"] {
	background: url(../images/design/doc.gif) no-repeat left 50%;
	padding: 2px 0 2px 20px;
}
a[href$=".xls"] {
	background: url(../images/design/xls.gif) no-repeat left 50%;
	padding: 2px 0 2px 20px;
}

/* @end */
/* @group Misc */
hr{
	border-top: 1px dashed #aeaeae;
	border-bottom: 1px dashed #e8e8e8;
	clear: both;
	margin-top: 10px;
	margin-bottom: 10px;
}
.left {float: left; margin-right: 10px; margin-bottom: 10px;}
.right {float: right; margin-left: 10px; margin-bottom: 10px;}
.center {margin: 0 auto; text-align: center;}
.clear {clear: both;}
/* @end */
/* @group EPDs/Peds*/

/* Use this to clear items instead of the .clear */

.group:before,
.group:after {
	content: "";
	display: table;
}
.group:after {clear: both;}
.group {zoom: 1;/* IE6&7 */}

img.no-border {
	border: 0 none;
	padding: 0;
}
.PedAnmName {
	color: #2e68bc;
	font-weight: bold;
	font-size: 2.5em;
	text-align: center;
}
.PedCalvedRow {
	font-style: italic;
	padding-bottom: .75em;
	text-align: center;
}
.PedS, .PedD {
	color: #2e68bc;
	font-weight: bold;
}

/* Adds text indentation to pedigree names */
.PedPGS, .PedPGD, .PedMGS, .PedMGD {
	margin-left: 3em;
	margin-right: 1em;
}
#content table.PedTable {
	font-family: inherit;
	border-top: none;
	border-right: none;
	border-left: none;
	margin: auto;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
#content table.PedTable td{
	background: none;
	border: none;
	border-bottom: none;
	border-left: none;
	vertical-align: middle;
}
.epdall {}

#content table.EPDProdTable, 
#content table.EPDMatTable, 
#content table.EPDCarcTable, 
#content table.EPDValueTable, 
#content table.PerformanceDataTable, 
#content table.DamProdAvgTable {
	border-left: 1px solid #c6c6c6;
	border-right: none;
	margin-bottom: 5px;
	font-size: .8em;
	width: 100%;
	border-top-style: none;
	border-bottom: 1px solid #c6c6c6;
}

#content table.EPDProdTable td, 
#content table.EPDMatTable td, 
#content table.EPDCarcTable td, 
#content table.EPDValueTable td, 
#content table.PerformanceDataTable td, 
#content table.DamProdAvgTable td {
	border-left: none;
	border-right: 1px solid #c6c6c6;
	padding: 3px;
	border-top: 1px solid #c6c6c6;
	border-bottom-style: none;
}

#content table td.EPDProdHeaderProd, 
#content table td.EPDMatHeaderMat, 
#content table td.EPDCarcHeaderCarc, 
#content table td.EPDValueHeaderValue, 
#content table td.PerformanceDataTableHeaderPerf, 
#content table td.DamProdAvgHead {
	background-color: #2e68bc;
	color: #ffffff;
	font-weight: bold;
}

#content table tr.EPDProdSubHeader td, 
#content table tr.EPDMatSubHeader td, 
#content table tr.EPDCarcSubHeader td, 
#content table tr.EPDValueSubHeader td, 
#content table tr.PerformanceDataSubHeader td, 
#content table tr.DamProdAvgSubHead td {
	background-color: #565656;
	color: #fff;
}

#content table tr.EPDProdDataRow td, 
#content table tr.EPDMatDataRow td, 
#content table tr.EPDCarcDataRow td, 
#content table tr.EPDValueDataRow td, 
#content table tr.PerformanceDataDataRow td, 
#content table tr.DamProdAvgData td {
	background-color: #ffffff;
	text-align: center;
}

.EPDAcc {padding-left: 5px;}
.EPDAsOfDt {font-size: .8em;}

/* @end */

/* @group buttons */
.btn {
	display: inline-block;
	*display: inline;
	padding: 4px 14px;
	margin-bottom: 5px;
	*margin-left: .3em;
	font-size: 14px;
	line-height: 20px;
	*text-align: center;
	text-shadow: 0 1px 0 #ffffff!important;
	vertical-align: middle;
	cursor: pointer;
	background-color: #f5f5f5;
	*background-color: #e6e6e6;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
	background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
	background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
	background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
	background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
	background-repeat: repeat-x;
	border: 1px solid #bbbbbb;
	*border: 0;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	border-color: #cccccc #cccccc #b3b3b3;
	border-bottom-color: #a2a2a2;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
	filter: progid:dximagetransform.microsoft.gradient(enabled=false);
	*zoom: 1;
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 4px rgb(86, 86, 86);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 4px rgb(86, 86, 86);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 4px rgb(86, 86, 86);
	text-decoration: none;
	color: #333333!important;
}
.btn:hover, .btn:active, .btn.active, .btn.disabled, .btn[disabled]:hover {
	color: #333333;
	background-color: #e6e6e6;
	*background-color: #d9d9d9;
}
.btn:active,
.btn.active {
	background-color: #cccccc \9;
}
.btn:first-child {*margin-left: 0;}
.btn:hover {
	color: #333333;
	text-decoration: none;
	background-color: #e6e6e6;
	*background-color: #d9d9d9;
	/* Buttons in IE7 don't get borders, so darken on hover */
  background-position: 0 -15px;
	-webkit-transition: background-position 0.1s linear;
	-moz-transition: background-position 0.1s linear;
	-o-transition: background-position 0.1s linear;
	transition: background-position 0.1s linear;
}
.btn:focus {
	outline: thin dotted #333;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px;
}
.blueBtn {
	color: #ffffff!important;
	text-shadow: 0 -1px 0 #002a80!important;
	background-color: #006dcc;
	*background-color: #0044cc;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
	background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
	background-image: -o-linear-gradient(top, #0088cc, #0044cc);
	background-image: linear-gradient(to bottom, #0088cc, #0044cc);
	background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
	background-repeat: repeat-x;
	border-color: #0044cc #0044cc #002a80;
	border-color: rgba(0, 68, 204, 1.0) rgba(0, 68, 204, 1.0) rgba(0, 42, 128, 1.0);
	filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0044cc', GradientType=0);
	filter: progid:dximagetransform.microsoft.gradient(enabled=false);
	text-decoration: none;
}
.blueBtn:hover {
	color: #ffffff;
	background-color: #0044cc;
	*background-color: #003bb3;
}
.redBtn {
	color: #ffffff!important;
	text-shadow: 0 -1px 0 #811114!important;
	background-color: #da4f49;
	*background-color: #bd362f;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ee5f5b), to(#bd362f));
	background-image: -webkit-linear-gradient(top, #ee5f5b, #bd362f);
	background-image: -o-linear-gradient(top, #ee5f5b, #bd362f);
	background-image: linear-gradient(to bottom, #ee5f5b, #bd362f);
	background-image: -moz-linear-gradient(top, #ee5f5b, #bd362f);
	background-repeat: repeat-x;
	border-color: #bd362f #bd362f #802420;
	border-color: rgba(189, 54, 47, 1.0) rgba(189, 54, 47, 1.0) rgba(128, 36, 32, 1.0);
	filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffee5f5b', endColorstr='#ffbd362f', GradientType=0);
	filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}
.redBtn:hover {
	color: #ffffff;
	background-color: #bd362f;
	*background-color: #a9302a;
}
.yellowBtn {
	color: #ffffff!important;
	text-shadow: 0 -1px 0 #b35300!important;
	background-color: #faa732;
	*background-color: #f89406;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fbb450), to(#f89406));
	background-image: -webkit-linear-gradient(top, #fbb450, #f89406);
	background-image: -o-linear-gradient(top, #fbb450, #f89406);
	background-image: linear-gradient(to bottom, #fbb450, #f89406);
	background-image: -moz-linear-gradient(top, #fbb450, #f89406);
	background-repeat: repeat-x;
	border-color: #f89406 #f89406 #ad6704;
	border-color: rgba(248, 148, 6, 1.0) rgba(248, 148, 6, 1.0) rgba(173, 103, 4, 1.0);
	filter: progid:dximagetransform.microsoft.gradient(startColorstr='#fffbb450', endColorstr='#fff89406', GradientType=0);
	filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}
.yellowBtn:hover {
	color: #ffffff;
	background-color: #f89406;
	*background-color: #df8505;
}
.greenBtn {
	color: #ffffff!important;
	text-shadow: 0 -1px 0 #005f24!important;
	background-color: #5bb75b;
	*background-color: #51a351;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#62c462), to(#51a351));
	background-image: -webkit-linear-gradient(top, #62c462, #51a351);
	background-image: -o-linear-gradient(top, #62c462, #51a351);
	background-image: linear-gradient(to bottom, #62c462, #51a351);
	background-image: -moz-linear-gradient(top, #62c462, #51a351);
	background-repeat: repeat-x;
	border-color: #51a351 #51a351 #387038;
	border-color: rgba(81, 163, 81, 1.0) rgba(81, 163, 81, 1.0) rgba(56, 112, 56, 1.0);
	filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ff62c462', endColorstr='#ff51a351', GradientType=0);
	filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}
.greenBtn:hover {
	color: #ffffff;
	background-color: #51a351;
	*background-color: #499249;
}
.blkBtn {
	color: #ffffff!important;
	text-shadow: 0 -1px 0 #000000!important;
	background-color: #363636;
	*background-color: #222222;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#444444), to(#222222));
	background-image: -webkit-linear-gradient(top, #444444, #222222);
	background-image: -o-linear-gradient(top, #444444, #222222);
	background-image: linear-gradient(to bottom, #444444, #222222);
	background-image: -moz-linear-gradient(top, #444444, #222222);
	background-repeat: repeat-x;
	border-color: #222222 #222222 #000000;
	border-color: rgba(34, 34, 34, 1.0) rgba(34, 34, 34, 1.0) rgba(0, 0, 0, 1.0);
	filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ff444444', endColorstr='#ff222222', GradientType=0);
	filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}
.blkBtn:hover {
	color: #ffffff;
	background-color: #222222;
	*background-color: #151515;
}

/* @end */

/* @group Alert Boxes */

.alert {
  padding: 8px 35px 8px 14px;
  margin-bottom: 20px;
  text-shadow: 0 1px 0 rgb(255, 255, 255);
  background-color: #fcf8e3;
  border: 1px solid #fbeed5;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.alert, .alert h4 {color: #c09853;}
.alert h4 {margin: 0;}
.alert-success {
  color: #468847;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}
.alert-success h4 {color: #468847;}
.alert-danger, .alert-error {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #eed3d7;
}
.alert-danger h4, .alert-error h4 {color: #b94a48;}
.alert-info {
  color: #3a87ad;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.alert-info h4 {color: #3a87ad;}
/* @end */
